/**
 * [Header]<h1>
 * [User Info]<p> or <div> (ID + Date/Time)
 * [Summary Cards Row] [][][] <div> or <article>
 * [Income & Expense diagram][Budget Overview]
 */

 header {
  font-size: 50px;
  font-weight: bold;
  /* padding: 3%; */
  margin: 3%; /* will fix this later */
 }

 .user-info {
  display: flex;
  justify-content: space-evenly;/* will change this later*/
  padding: 10px;
 }

 .summary-blocks {
  display: flex;
  justify-content: space-evenly;
  /* gap: 20px; */
  margin-top: 20px;
 }
